<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener> 

	<!-- filter : 필터 클래스를 필터로 등록하기 위한 엘리먼트 -->
	<filter>
		<!-- filter-name : 필터를 구분하기 위한 식별자를 설정하는 엘리먼트 -->
		<filter-name>encodingFilter</filter-name>
		<!-- filter-class : 필터 요청시 객체로 생성될 클래스를 설정하는 엘리먼트 -->
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<!-- init-param : 필터 클래스에게 필요한 값을 제공하는 엘리먼트 -->
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	
	<!-- filter-mapping : 필터를 요청하기 위한 URL 주소를 등록하기 위한 엘리먼트 -->
	<filter-mapping>
		<!-- filter-name : 요청에 의해 실행될 필터의 식별자를 설정하는 엘리먼트 -->		
		<filter-name>encodingFilter</filter-name>
		<!-- url-pattern : 필터가 실행되기 위한 URL 패턴을 설정하는 엘리먼트 -->
		<!-- => 클라이언트의 모든 요청에 대해 필터가 실해되도록 설정 -->
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>
