<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- setting : mybatis 실행시 필요한 정보를 제공하기 위한 엘리먼트 -->
		<!-- => setting 엘리먼트를 사용하지 않아도 실행에 필요한 값은 기본값을 제공받아 사용 -->
		<!-- => mybatis 실행을 기본값이 아닌 다른 값으로 제공받아ㅏ 사용할 경우에만 엘리먼트 사용 -->
		<!-- callSettersOnNulls 옵션을 [true]로 설정하면 UPDATE 명령 실행시 컬럼값을 [NULL]로 변경하는 기능 제공 -->
		<setting name="callSettersOnNulls" value="true"/>
		<!-- jdbcTypeForNull 옵션을 [NULL]로 설정하면 SQL 명령 실행시 전달받은 객체의 필드값이
		[NULL]인 경우 SQL 명령에서 [NULL]로 처리되는 기능 제공 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- mapUnderscoreToCamelCase 옵션을 [true]로 설정하면 SELECT 명령 실행시 스네이크 표기법으로
		작성된 컬럼명을 자동으로 카멜 표기법의 컬럼명으로 변환하여 검색하는 기능 제공 -->		
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
</configuration>