<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="swift.air.mapper.ReservationMapper">
	<!-- 출발지, 도착지, 가는여정 출발일, 돌아오는 여정 출발일, 가용 자리 받아와야함 -->
	<select id="selectFlightAvailable" resultType="map">
		select 
			schedule_departure_date, schedule_arrival_date, route_departure, route_destination, route_flight, route_price, seat_name, seat_grade
		from 
			passenger 
		left join 
			schedule on passenger_schedule_id1 = schedule_id 
		left join 
			route on schedule_route_id = route_id
		left join 
			seat on passenger_seat_name1 = seat_name
		where 
			(route_departure = #{resDeparture} and route_destination = #{resDestination} and schedule_departure_date = #{resDepartDate}) 
			or (route_departure = #{resDestination} and route_destination = #{resDeparture} and schedule_departure_date = #{resReturnDate});
	</select>
</mapper>