<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="swift.air.mapper.RouteMapper">
	<select id="selectRouteByFlight" resultType="Route"> 
		select route_id, route_flight, route_departure, route_destination, route_time
			, route_price from route where route_flight=#{routeFlight}
	</select>

	<select id="selectAllRoutes" resultType="Route"> 
		select * from route
	</select>
</mapper>